
BalancedFieldLength/\.vs/BalancedFieldLength/DesignTimeBuild/\.dtbcache

BalancedFieldLength/\.vs/BalancedFieldLength/v15/\.suo

BalancedFieldLength/\.vs/BalancedFieldLength/v15/Server/sqlite3/db\.lock

BalancedFieldLength/\.vs/BalancedFieldLength/v15/Server/sqlite3/storage\.ide

BalancedFieldLength/\.vs/BalancedFieldLength/v15/Server/sqlite3/storage\.ide-shm

BalancedFieldLength/\.vs/BalancedFieldLength/v15/Server/sqlite3/storage\.ide-wal
